<footer class="footer text-center">
	<div class="footer__content row">
		<div class="medium-4 column footer__column">
			<ul>
				<li><a class="footer__links" href="/">Home</a></li>
				<li><a class="footer__links" href="/services">Services</a></li>
				<li><a class="footer__links" href="/about">About</a></li>
				<li><a class="footer__links" href="/gallery">Gallery</a></li>
				<li><a class="footer__links" href="/contact">Contact</a></li>
			</ul>
		</div>
		<div class="medium-4 column footer__column">
			<div>Contact Info</div>
			<div>555-555-5555</div>
			<div><a href="mailto:rykermetalworks@sbcglobal.net">rykermetalworks@sbcglobal.net</a></div>
		</div>
		<div class="medium-4 column footer__column">
			<div>Follow Us</div>
			<a href="#"><i class="icon-facebook"></i></a>
			<a href="#"><i class="icon-twitter"></i></a>
		</div>
	</div>
	<div class="footer__copyright">&copy; <%= new Date().getFullYear() %> Ryker Metalworks</div>
</footer>