<header class="header">
	<div class="header-main">
		<a class="menu-toggle hide-for-medium" href="#menu"><span></span></a>
		<h1 class="header-heading">Ryker Metalworks</h1>
		<div class="header__contacts">
			<div class="show-for-medium"><i class="icon-phone"></i>555-555-5555</div>
			<div class="show-for-medium"><i class="icon-mail"></i>rykermetalworks@sbcglobal.net</div>
		</div>
	</div>
	<ul class="header-nav show-for-medium">
		<li><a href="/">Home</a></li><!--
		--><li><a href="/services">Services</a></li><!--
		--><li><a href="/about">About</a></li><!--
		--><li><a href="#">Gallery</a></li><!--
		--><li><a href="/contact">Contact</a></li>
	</ul>
</header>
