<meta charset="utf-8" />
<meta name="author" content="" />
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />

<title>Ryker Metalworks<%= title %></title>
<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="stylesheets/main.min.css" />

