<header class="header">
	<div class="header-main">
		<a class="menu-toggle hide-for-medium" href="#menu"><span></span></a>
		<h1 class="header-heading">Ryker Metalworks</h1>
		<span class="header__contact header__contact--phone show-for-medium">555-555-5555</span>
		<span class="header__contact header__contact--email show-for-medium">rykermetalworks@sbcglobal.net</span>
	</div>
	<ul class="header-nav show-for-medium">
		<li><a href="/">Home</a></li><!--
		--><li><a href="/services">Services</a></li><!--
		--><li><a href="/about">About</a></li><!--
		--><li><a href="#">Gallery</a></li><!--
		--><li><a href="/contact">Contact</a></li>
	</ul>
</header>
