<div class="hero services"></div>
<div class="content">
	<h2>Contact</h2>
	<label for="inputName" class="hide">Name</label>
	<input id="inputName" placeholder="Name" />
	<br />
	<label for="inputEmail" class="hide">Email</label>
	<input id="inputEmail" placeholder="Email" />
	<br />
	<label for="inputPhone" class="hide">Phone</label>
	<input id="inputPhone" placeholder="Phone" />
	<br />
	<label for="inputMessage" class="hide">Message</label>
	<textarea id="inputMessage" placeholder="Message"></textarea>

	<label for="inputSubmit" class="hide">Submit</label>
	<input type="submit" value="Submit" id="inputSubmit"></input>
</div>