<div class="hero home">
	<div class="content-hero-card">Metal working</div>
</div>
<div class="content">
	<div class="row">
		<div class="medium-6 column">hi</div>
		<div class="medium-6 column">there</div>
	</div>
</div>