<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
	<div id="wrapper">
		<% include partials/header %>
		<%- body %>
		<% include partials/mobile-menu %>
		<% include partials/footer %>
	</div>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGP-oulKb59ITq47kDiUEsTQlRTS79VCk"></script>
	<script src="javascripts/vendor.js"></script>
	<script src="javascripts/script.js"></script>
</body>
</html>