.footer {
	background: $black;
	width: 100%;
    color: $white;
	padding: 2rem;
	font-size: 1.2rem;
}

.footer__content {
	font-size: 1.6rem;
}

.footer__column {
	padding: 2rem 0;
}

.footer__links {
	display: block;
	padding: .5rem;
    line-height: 1;
    transition: color 0.5s ease;

    &:hover {
		color: $theme-yellow;
	}
}

.footer__copyright {
	padding: 2rem 2rem 10rem;
}