.header {
	background: rgba(0, 0, 0, 0.75);
    color: $white;
	width: 100%;
	text-align: center;
	position: fixed;
    z-index: 999;
	
	.header-main {
		height: 6.2rem;
		border-bottom: 0.5rem solid $theme-yellow;
		font-family: 'Saira Extra Condensed', sans-serif;
		position: relative;

		@include breakpoint(medium) {
			height: 8.5rem;
			max-width: 77.5rem;
			margin: auto;
			border: none;
		}
	}

	i {
		position: relative;
	    top: 4px;
	    right: 5px;
	    font-size: 1.8rem;
	}

	.icon-phone {
		transform: rotate(100deg);
	    display: inline-block;
	    top: 2px;
	}

	.header__contacts {
		position: absolute;
    	right: 0;
    	padding: 1.2rem;
    	text-align: right;
	}

	.header-heading {
		@include vertical-center;
		font-size: 2.5rem;
		margin: auto;
		position: relative;
		max-width: 30rem;
		padding: 0 2rem;

		@include breakpoint(medium) {
			font-size: 3.5rem;
			float: left;
			color: $white;
			transition: all 0.2s ease;

			&.is-scrolled {
				color: $theme-yellow;
				font-size: 4rem;
			}
		}
	}

	.header-nav {
		background: $black;

		li {
			display: inline-block;
		}

		a {
		    padding: 1.5rem 4.5rem;
		    font-size: 1.4rem;
		    cursor: pointer;
		    display: inline-block;
		    color: $white;
		    transition: background-color 0.5s ease; 

		    &:hover {
		    	background: $theme-yellow;
		    }
		}
	}
}
