.hero {
	background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
    position: relative;

    &.home {
    	background-image: url(../images/welding-background.jpg);
    	height: 75vh;
    }

    &.services {
		background-image: url(../images/welding-background-2.jpg);
    	height: 50vh;
    }
}

.content-hero-card {
	position: absolute;
    top: 50%;
    color: $black;
    font-size: 2.5rem;
    background: rgba(224, 202, 94, 0.6);
    padding: 2rem 4rem;
    height: 17.5rem;
    max-width: 56.5rem;
    width: 100%;
    text-align: left;

    @include breakpoint(medium) {
    	left: 5%;
    }
}